<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= typeof title !== "undefined" ? title : "ImperialPaws Pekingese" %></title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  
  
  
  
<% if (isAdminPage) { %>
  <link rel="stylesheet" href="/css/admin.css">
<% } else { %>
  <%
    const routePath = typeof currentPath !== "undefined" ? currentPath : "";
    const publicCss = ["/css/main.css", "/css/header.css", "/css/footer.css", "/css/sub-pages.css"];

    if (routePath === "/") {
      publicCss.push("/css/home-index.css", "/css/home-featured.css", "/css/testimonials-lux.css");
    } else if (routePath === "/puppies") {
      publicCss.push("/css/puppies.css");
    } else if (routePath.startsWith("/puppies/")) {
      publicCss.push("/css/puppy-details.css");
    } else if (routePath.startsWith("/testimonials")) {
      publicCss.push("/css/testimonials-lux.css");
    } else if (routePath === "/about") {
      publicCss.push("/css/about.css");
    } else if (routePath === "/adoption-process") {
      publicCss.push("/css/adoption-process.css");
    }
  %>
  <% publicCss.forEach(cssFile => { %>
    <link rel="stylesheet" href="<%= cssFile %>">
  <% }) %>
<% } %>







</head>

<body class="<%= typeof pageClass !== 'undefined' ? pageClass : '' %><%= isAdminPage ? ' admin-body' : '' %>">
  <% if (!isAdminPage) { %>
    <%- include("../partials/header") %>
  <% } %>

  <main class="<%= isAdminPage ? 'admin-root' : 'main-content' %>">
    <%- body %>
  </main>

  <% if (!isAdminPage) { %>
    <%- include("../partials/footer") %>
  <% } %>

<% if (!isAdminPage) { %>
  <script src="/js/header.js" defer></script>
  <script src="/js/site.js" defer></script>
  <% if (typeof currentPath !== "undefined" && currentPath.startsWith("/puppies/")) { %>
    <script src="/js/puppy-gallery.js" defer></script>
  <% } %>
<% } %>

</body>
</html>
